{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="content">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <script>const array = document.querySelectorAll("p.help-block");
        array[array.length -1].innerHTML = "Verify <a href='https://api.whatsapp.com/send/?phone=%2B14155238886&text=join+said-leave&type=phone_number&app_absent=0'>here</a> for WhatsApp updates!"
        </script>

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}