{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://www.gannett-cdn.com/-mm-/2c66e9fa6eb290e62bf7cbc6010f40bfdafd2f07/c=0-416-7952-4889/local/-/media/2022/10/05/USATODAY/usatsports/stock-market-analytics-tablet_TlswVXo.jpg?width=2400&height=1350&fit=crop&format=pjpg&auto=webp')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{stock.company_name}}</h1>
            <h2 class="subheading">{{stock.stock_name}}</h2>
            <span class="meta">Bought by
              <a href="#">{{stock.follower.name}}</a>
              on {{buying_date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Units bought: <script>document.write(Math.round(({{ stock.stock_units }} + Number.EPSILON) * 100) / 100);</script></p>
          <p>Buying Price: <script>document.write(Math.round(({{ stock.stock_price }} + Number.EPSILON) * 100) / 100);</script> ₪</p>
          <p>Current Price: <script>document.write(Math.round(({{ stock.stock_value }} + Number.EPSILON) * 100) / 100);</script> ₪</p>
          <p>Days Owned: {{ diff_days }}</p>
          <p>Change (Percentage): <span class="percentage">{{ stock.stock_diff }}</span></p>
          <script>
            var pElement = document.getElementsByClassName("percentage")[0];
            var firstLetter = pElement.textContent[0];
            var color = "";
            if (firstLetter == "+") {
              color = "green";
            } else {
              color = "red";
            }
            pElement.style.color = color;
          </script>

          <p>Profit: <script>document.write(Math.round(({{ profit_points }} + Number.EPSILON) * 100) / 100);</script> ₪</p>
          <div class="clearfix">
             <a class="btn btn-primary float-right" href="https://finance.yahoo.com/quote/{{ stock.stock_name }}.TA" target="_blank">More Details</a>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </article>
  <hr>
{% include "footer.html" %}