{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://www.gannett-cdn.com/-mm-/2c66e9fa6eb290e62bf7cbc6010f40bfdafd2f07/c=0-416-7952-4889/local/-/media/2022/10/05/USATODAY/usatsports/stock-market-analytics-tablet_TlswVXo.jpg?width=2400&height=1350&fit=crop&format=pjpg&auto=webp')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{stock.company_name}}</h1>
            <h2 class="subheading">{{stock.stock_name}}</h2>
            <span class="meta">Bought by
              <a href="#">{{stock.follower.name}}</a>
              on {{stock.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Points bought: {{ stock.stock_points }}</p>
          <p>Buying Price: {{ stock.stock_price }} 💲</p>
          <p>Current Price: {{ stock.stock_value }} 💲</p>
          <p>Change (percentage): {{ articles_list[0]|safe }}</p>
          <p>profit (points): {{ (stock.stock_value * stock.stock_points) - (stock.stock_points * stock.stock_price) }} 💲</p>
          <hr>
          {% for i in range(1, len_list, 3) %}
            {{ articles_list[i]|safe }}
            <br>
            {{ articles_list[i+1]|safe }}
            <br>
            <br>
            <a style="color: #3366CC" href="{{ articles_list[i+2]|safe }}">read more</a>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}